.App {
  text-align: center;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.circle-hovered {
  r: 10; /* radius of the circle when hovered */
  stroke-width: 1; /* optional: if you want the stroke to be thicker when hovered */
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 10px;
  font: 18px sans-serif;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: none; /* Makes sure the tooltip doesn't interfere with other mouse events */
}

text.label {
  fill: black;        
  font-family: Arial, sans-serif;
  pointer-events: none;  
}